<div class="section-container vertical-tabs" data-section="vertical-tabs" data-options="deep_linking: false">
    <section>
        <p class="title qualifications" data-section-title><a href="#qualifications"><span class="icon icon-beaker"></span>Qualifications</a></p>
        <div class="content"  data-slug="qualifications" data-section-content>
            <div class="row">
                <div class="large-12 columns">
                    <ul class="side-nav">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Link 1</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="experience">
        <p class="title" data-section-title><a href="#experience"><span class="icon icon-briefcase"></span><span class="hide-for-medium-down">Professional </span>Experience</a></p>
        <div class="content" data-slug="experience" data-section-content>
            <p>Content of section 2.</p>
        </div>
    </section>
    <section>
        <p class="title" data-section-title><a href="#skills"><span class="icon icon-laptop"></span>Technical Skills</a></p>
        <div class="content" data-slug="skills" data-section-content>
            <p>Content of section 2.</p>
        </div>
    </section>
    <section>
        <p class="title" data-section-title><a href="#education"><span class="icon icon-graduation-cap"></span>Education</a></p>
        <div class="content" data-slug="education" data-section-content>
            <p>Content of section 2.</p>
        </div>
    </section>
    <section>
        <p class="title" data-section-title><a href="#hobbies"><span class="icon icon-thumbs-up"></span>Hobbies</a></p>
        <div class="content" data-slug="hobbies" data-section-content>
            <p>Content of section 2.</p>
        </div>
    </section>
</div>
