<div class="section-container vertical-tabs" data-section="vertical-tabs" data-options="deep_linking: true">
    <section class="profile">
        <p class="title hide-for-small" data-section-title><a href="#profile"><span class="icon icon-user">Profile</span></a></p>
        <div class="content"  data-slug="profile" data-section-content>
            {% include 'profile.html' %}
        </div>
    </section>
<!--    <section class="qualifications">
        <p class="title hide-for-small" data-section-title><a href="#qualifications"><span class="icon icon-desktop">Qualifications</span></a></p>
        <div class="content"  data-slug="qualifications" data-section-content>
            {% include 'qualifications.html' %}
        </div>
        </section>-->
    <section class="experience">
        <p class="title hide-for-small" data-section-title><a href="#experience"><span class="icon icon-briefcase">Work Experience</span></a></p>
        <div class="content" data-slug="experience" data-section-content>
            {% include 'experience.html' %}
        </div>
    </section>
    <section class="skills">
        <p class="title hide-for-small" data-section-title><a href="#skills"><span class="icon icon-laptop">Technical Skills</span></a></p>
        <div class="content" data-slug="skills" data-section-content>
            {% include 'skills.html' %}
        </div>
    </section>
    <section class="education">
        <p class="title hide-for-small" data-section-title><a href="#education"><span class="icon icon-book">Education</span></a></p>
        <div class="content" data-slug="education" data-section-content>
            {% include 'education.html' %}
        </div>
    </section>
    <!--
    <section class="print">
        <p class="title hide-for-small" data-section-title><a href="#" onclick="window.open('/resume/'); return false;"><span class="icon icon-print">Print Resume</span></a></p>
    </section>
    -->
</div>
