<div class="section-container vertical-tabs" data-section="vertical-tabs" data-options="deep_linking: false">
    <section>
    <h5 class="title qualifications" data-section-title><a href="#qualifications"><span class="icon icon-beaker"></span><div>Qualifications</div></a></h5>
        <div class="content"  data-slug="qualifications" data-section-content>
            <div class="row">
                <div class="large-12 columns">
                    Qualifications
                </div>
            </div>
        </div>
    </section>
    <section>
        <h5 class="title experience" data-section-title><a href="#experience"><span class="icon icon-briefcase"></span><div>Professional Experience</div></a></h5>
        <div class="content" data-slug="experience" data-section-content>
            <div class="row">
                <div class="large-12 columns">
                    Experience
                </div>
            </div>
        </div>
    </section>
    <section>
        <h5 class="title skills" data-section-title><a href="#skills"><span class="icon icon-laptop"></span><div>Technical Skills</div></a></h5>
        <div class="content" data-slug="skills" data-section-content>
            <div class="row">
                <div class="large-12 columns">
                    Technical Skills
                </div>
            </div>
        </div>
    </section>
    <section>
        <h5 class="title education" data-section-title><a href="#education"><span class="icon icon-graduation-cap"></span><div>Education</div></a></h5>
        <div class="content" data-slug="education" data-section-content>
            <div class="row">
                <div class="large-12 columns">
                    Education
                </div>
            </div>
        </div>
    </section>
    <section>
        <h5 class="title hobbies" data-section-title><a href="#hobbies"><span class="icon icon-thumbs-up"></span><div>Hobbies</div></a></h5>
        <div class="content" data-slug="hobbies" data-section-content>
            <div class="row">
                <div class="large-12 columns">
                    Hobbies
                </div>
            </div>
        </div>
    </section>
</div>
