<div class="row">
    <div class="large-12 columns">
        <h2>Timeline</h2>
    </div>
</div>
<div class="timeline">
    <div class="row">
        <div class="small-6 large-6 columns">
            <ul>
                 <li>2008-2011 Master's degree in Engineering, major computer sciences</li>
                 <li>Polytechnic School of Nantes University, Nantes, France</li>
                 <li>Linnæus University, Växjö, Sweden (9<sup>th</sup> semester)</li>
            </ul>
            <div class="timeline-pin"></div>
        </div>
        <div class="small-6 large-6 columns">
            <img alt="logo of Polytech Nantes, FRANCE" src="{{STATIC_URL}}images/logos/schools/polytech_medium.jpg"/>
            <img alt="logo of Linnaeus University, SWEDEN" src="{{STATIC_URL}}images/logos/schools/linnaeus_medium.png"/>
        </div>
    </div>
    <div class="row">
        <div class="small-6 large-6 columns">
            <ul>
                 <li>2006-2008 Two-year degree in Computer Sciences</li>
                 <li>Higher institute of Computer Sciences of Nantes University, Nantes, France</li>
            </ul>
            <div class="timeline-pin"></div>
        </div>
        <div class="small-6 large-6 columns">
            <img alt="logo of IUT of Nantes, FRANCE" src="{{STATIC_URL}}images/logos/schools/iut_medium.jpg"/>
        </div>
    </div>
    <div class="row">
        <div class="small-6 large-6 columns">
            <ul>
                 <li>2004-2006 French Scientific Baccalaureate (equivalent to A-levels), major mathematics</li>
                 <li>Notre Dame de Toutes Aides (High school), Nantes, France</li>
            </ul>
            <div class="timeline-pin"></div>
        </div>
    </div>
</div>
