<div class="row">
    <div class="large-12 columns">
        <h2>Current Position</h2>
    </div>
</div>
<div class="row title">
    <div class="small-5 large-12 columns">
        <h3>PunchTab</h3>
    </div>
    <div class="small-7 large-12 columns">
        <h4>2011 - Present</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 large-8 columns">
        <p class="indent"><span class="icon icon-quote-left"></span>PunchTab is the world's first instant loyalty platform reaching over 20 million consumers every month across hundreds of sites that have integrated the company's loyalty programs. Using PunchTab publishers, retailers and application vendors can deploy a tightly integrated reward program to their users in minutes with no development or marketing costs. Consumers can immediately authenticate through popular social networks and start earning loyalty points that are redeemable for exclusive offers, gift cards, and custom rewards.</p>
        <p class="indent">Based in Silicon Valley, PunchTab was founded in January of 2011 by Ranjith Kumaran who previously co-founded YouSendIt.com, the largest digital file-delivery service serving 600,000 subscribers, and Mehdi Ait Oufkir, an early YouSendIt employee who went on to found JellyDo.com, a location-based reminder service for Foursquare users.<span class="icon icon-quote-right"></p>
        <p class="indent">I joined PunchTab end of August 2011, right after college, and we were only 4 at this time: Ranjith, Mehdi, Ben and me. First job, first time in the US, seven-month-old startup, you can't imagine how excited I was to start this adventure.</p>
        <p class="indent">When you start at PunchTab, the first rule you are taught is that you need to push something in production during your first week. This is an awesome way of making you feeling 100% involved in the company and makes you realize that you have a huge responsability regarding its growth. I quickly started to work on the <a href="http://www.punchtab.com/giveaway-page" target="_blank" class="icon icon-link">giveaway widget</a> and it's still my cherished product that I love to maintain and improve as soon as I have some free time.</p>
    </div>
    <div class="small-12 large-4 columns">
        <div class="panel">
            <h5>Logo</h5>
            <img src="{{ STATIC_URL }}images/logos/companies/punchtab.png"/>
            <h5>Website</h5>
            <a href="http://www.punchtab.com" target="_blank" class="icon icon-link">www.punchtab.com</a>
            <h5>Technologies</h5>
            <ul>
                <li>Django</li>
                <li>Python</li>
                <li>MongoDB</li>
                <li>MySQL</li>
                <li>Javascript</li>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Jenkins Continuous Integration Service</li>
                <li>Soap/Rest API</li>
                <li>RabbitMQ/Celery</li>
                <li>Redis</li>
                <li>Solr</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h2>Projects & Internships</h2>
    </div>
</div>
<div class="row">
    <div class="small-5 large-12 columns">
        <h3>Capgemini</h3>
    </div>
    <div class="small-7 large-12 columns">
        <h4>January 2011 - June 2011</h4>
    </div>
</div>
<div class="row" ng-controller="RecommendationController as recommendation">
    <div class="small-12 large-8 columns">
        <p class="indent">Overhaul of the timetable information system for the SNCF.</p>
        <p class="indent"><span class="icon icon-quote-left"></span><span ng-bind-html="recommendation.capgemini.text"></span><span class="icon icon-quote-right"></span><br/><i><strong>Bastien Léoment</strong> - [[recommendation.capgemini.author]]</i></p>
         <div class="button" ng-click="recommendation.changeVersion('capgemini')">[[recommendation.capgemini.button]]</div>
    </div>
    <div class="small-12 large-4 columns">
        <div class="panel">
            <h5>Logo</h5>
            <img src="{{ STATIC_URL }}images/logos/companies/capgemini.jpg"/>
            <h5>Website</h5>
            <a href="http://www.capgemini.com" target="_blank" class="icon icon-link">www.capgemini.com</a>
            <h5>Technologies</h5>
            <ul>
                <li>Java</li>
                <li>Flex</li>
                <li>Oracle</li>
                <li>Apache Tomcat</li>
                <li>ActionScript</li>
                <li>Hibernate</li>
                <li>Spring</li>
                <li>FitNess</li>
                <li>Jazz RPC</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-5 large-12 columns">
        <h3>SCUT</h3>
    </div>
    <div class="small-7 large-12 columns">
        <h4>June 2010 - August 2010</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 large-8 columns">
        <p class="indent">Analysis of a H-Trust peer-to-peer network with the NetLogo platform.</p>
    </div>
    <div class="small-12 large-4 columns">
        <div class="panel">
            <h5>Logo</h5>
            <img src="{{ STATIC_URL }}images/logos/schools/scut.jpg"/>
            <h5>Website</h5>
            <a href="http://en.scut.edu.cn" target="_blank" class="icon icon-link">en.scut.edu.cn</a>
            <h5>Technologies</h5>
            <ul>
                <li>NetLogo</li>
                <li>LaTeX</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-5 large-12 columns">
        <h3>YouSendIt</h3>
    </div>
    <div class="small-7 large-12 columns">
        <h4>Novemver 2009 - May 2010</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 large-8 columns">
        <p class="indent">This project was confidential but involved the creation of a Microsoft Exchange Server plug-in.</p>
    </div>
    <div class="small-12 large-4 columns">
        <div class="panel">
            <h5>Logo</h5>
            <img src="{{ STATIC_URL }}images/logos/companies/yousendit.jpg"/>
            <h5>Website</h5>
            <a href="http://www.hightail.com" target="_blank" class="icon icon-link">www.hightail.com</a>
            <h5>Technologies</h5>
            <ul>
                <li>Microsoft Exchange Server</li>
                <li>C#</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-5 large-12 columns">
        <h3>CNIEG</h3>
    </div>
    <div class="small-7 large-12 columns">
        <h4>April 2008 - June 2008</h4>
    </div>
</div>
<div class="row" ng-controller="RecommendationController as recommendation">
    <div class="small-12 large-8 columns">
        <p class="indent">Migration of an existing client application into a web application using the GWT technology.</p>
        <p class="indent"><span class="icon icon-quote-left"></span><span ng-bind-html="recommendation.cnieg.text"></span><span class="icon icon-quote-right"></span><br/><i><strong>Dominique Arnou</strong> - [[recommendation.cnieg.author]]</i></p>
        <div class="button" ng-click="recommendation.changeVersion('cnieg')">[[recommendation.cnieg.button]]</div>
    </div>
    <div class="small-12 large-4 columns">
        <div class="panel">
            <h5>Logo</h5>
            <img src="{{ STATIC_URL }}images/logos/companies/cnieg.jpg"/>
            <h5>Website</h5>
            <a href="http://www.cnieg.fr" target="_blank" class="icon icon-link">www.cnieg.fr</a>
            <h5>Technologies</h5>
            <ul>
                <li>Java</li>
                <li>GWT</li>
                <li>Spring</li>
                <li>Hibernate</li>
            </ul>
        </div>
    </div>
</div>
