<div class="row">
    <div class="large-12 columns">
        <h2>Current Position</h2>
    </div>
</div>
<div class="row">
    <div class="small-12 large-12 columns">
        <h3>PunchTab</h3>
        <h4>2011 - Present</h4>
        <p class="indent">PunchTab is the world's first instant loyalty platform reaching over 20 million consumers every month across hundreds of sites that have integrated the company's loyalty programs. Using PunchTab publishers, retailers and application vendors can deploy a tightly integrated reward program to their users in minutes with no development or marketing costs. Consumers can immediately authenticate through popular social networks and start earning loyalty points that are redeemable for exclusive offers, gift cards, and custom rewards.</p>
        <p class="indent">Based in Silicon Valley, PunchTab was founded in January of 2011 by Ranjith Kumaran who previously co-founded YouSendIt.com, the largest digital file-delivery service serving 600,000 subscribers, and Mehdi Ait Oufkir, an early YouSendIt employee who went on to found JellyDo.com, a location-based reminder service for Foursquare users.</p>
        <p class="indent">One of the product I worked the most on is the <a href="http://www.punchtab.com/giveaway-page" target="_blank" class="icon icon-link">giveaway widget</a>. The main technologies I'm using are:</p>
        <ul>
            <li>Django</li>
            <li>Python</li>
            <li>MongoDB</li>
            <li>MySQL</li>
            <li>Javascript/JQuery</li>
            <li>HTML5/CSS3</li>
            <li>Jenkins Continuous Integration Service</li>
            <li> Soap/Rest API</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h2>Projects & Internships</h2>
    </div>
</div>
<div class="row">
    <div class="small-12 large-12 columns">
        <h3>Capgemini</h3>
        <h4>January 2011 - June 2011</h4>
        <ul>
            <li>Project: Overhaul of the timetable information system for the SNCF.</li>
            <li>Main technologies: Java, Oracle, Flex, Hibernate and Spring</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="small-12 large-12 columns">
        <h3>SCUT</h3>
        <h4>June 2010 - August 2010</h4>
        <ul>
            <li>Project: Analysis of a H-Trust peer-to-peer network with the NetLogo platform.</li>
            <li>Main technologies: NetLogo</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="small-12 large-12 columns">
        <h3>YouSendIt</h3>
        <h4>Novemver 2009 - May 2010</h4>
        <ul>
            <li>Project: Confidential.</li>
            <li>Main technologies: Microsof Exchange Server, C#</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="small-12 large-12 columns">
        <h3>CNIEG</h3>
        <h4>April 2008 - June 2008</h4>
        <ul>
             <li>Project: Migration of an existing client application into a web application using the GWT technology.</li>
            <li>Main technologies: Java, GWT, Spring, Hibernate</li>
        </ul>
    </div>
</div>
