<div class="row">
    <div class="small-6 large-2 columns">
        <img src="{{ STATIC_URL }}images/tall.png" data-interchange="[{{ STATIC_URL }}images/small.png, (small_medium)], [{{ STATIC_URL }}images/medium.png, (medium_small)] [{{ STATIC_URL }}images/tall.png, (medium)]">
    </div>
    <div class="small-6 large-3 columns">
        <a id="address" href="https://www.google.com/maps?q=3214+26th+Street+San+Francisco+CA+94110+USA&hl=en&geocode=+&hnear=3214+26th+St,+San+Francisco,+California+94110&t=m&z=16" target="_blank">
            <div class="row">
                <div class="small-12 large-12 columns">
                    <h3>Arthur Rio</h3>
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    3214 26<sup>th</sup> Street
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    San Francisco
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    CA 94110
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    USA
                </div>
            </div>
        </a>
    </div>
    <div class="small-12 large-7 columns contact">
        <ul class="small-block-grid-3 large-block-grid-3">
            <li>
                <div class="inner">
                    <a href="mailto:arthur@punchtab.com?subject=Contact%20from%20arthur-rio.fr"><div class="icon icon-mail"></div><div class="content hide-for-medium-down">arthur<span class="icon icon-at"></span>punchtab.com</div></a>
                </div>
            </li>
            <li class="mobile">
                <div class="inner">
                    <a class="mobile-only" href="tel:1-650-646-1280"><div class="icon icon-mobile-2"></div><div class="content hide-for-medium-down">+1 (650) 646-1280</div></a>
                    <a href="callto:1-650-646-1280"><div class="icon icon-mobile-2"></div><div class="content hide-for-medium-down">+1 (650) 646-1280</div></a>
                </div>
            </li>
            <li>
                <div class="inner">
                    <a href="skype:arthur.rio"><div class="icon icon-skype"></div><div class="content hide-for-medium-down">artur.rio</div></a>
                    </a>
                </div>
            </li>
            <li>
                <div class="inner">
                    <a href="https://github.com/arthurio" target="_blank"><div class="icon icon-github-circled"></div><div class="content hide-for-medium-down">arthurio</div></a>
                </div>
            </li>
            <li>
                <div class="inner">
                    <a href="https://twitter.com/arthur_rio" target="_blank"><div class="icon icon-twitter-bird"></div><div class="content hide-for-medium-down">arthur_rio</div></a>
                </div>
            </li>
            <li>
                <div class="inner">
                    <a href="http://www.linkedin.com/in/arthurio" target="_blank"><div class="icon icon-linkedin-rect"></div><div class="content hide-for-medium-down">arthurio</div></a>
                </div>
            </li>
        </ul>
    </div>
</div>
