<div class="row">
    <div class="small-12 large-5 columns title">
        <h1>Arthur Rio</h1>
        <h2 class="hide-for-medium">Software Engineer</h2>
        <h3 class="show-for-medium">Software Engineer</h3>
    </div>
    <div class="small-12 large-7 columns contact">
        <ul class="small-block-grid-3 large-block-grid-3">
            <li>
                <div class="inner">
                    <a href="mailto:arthur@punchtab.com?subject=Contact%20from%20arthur-rio.fr"><div class="icon icon-email"></div><div class="content hide-for-medium-down">arthur<span class="icon icon-at"></span>punchtab.com</div></a>
                </div>
            </li>
            <li class="mobile">
                <div class="inner">
                    <a class="mobile-only" href="tel:1-650-646-1280"><div class="icon icon-mobile"></div><div class="content hide-for-medium-down">+1 (650) 646-1280</div></a>
                    <a href="callto:1-650-646-1280"><div class="icon icon-mobile"></div><div class="content hide-for-medium-down">+1 (650) 646-1280</div></a>
                </div>
            </li>
            <li>
                <div class="inner">
                    <a href="skype:arthur.rio"><div class="icon icon-skype"></div><div class="content hide-for-medium-down">artur.rio</div></a>
                    </a>
                </div>
            </li>
            <li>
                <div class="inner">
                    <a href="https://github.com/arthurio" target="_blank"><div class="icon icon-github-circled"></div><div class="content hide-for-medium-down">arthurio</div></a>
                </div>
            </li>
            <li>
                <div class="inner">
                    <a href="https://twitter.com/arthur_rio" target="_blank"><div class="icon icon-twitter"></div><div class="content hide-for-medium-down">arthur_rio</div></a>
                </div>
            </li>
            <li>
                <div class="inner">
                    <a href="http://www.linkedin.com/in/arthurio/en" target="_blank"><div class="icon icon-linkedin-squared"></div><div class="content hide-for-medium-down">arthurio</div></a>
                </div>
            </li>
        </ul>
    </div>
</div>
