<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="all">
	<title>Arthur Rio</title>
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/profile.png">
    <!-- FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic" rel="stylesheet" type="text/css">
    <!-- CSS -->
    <link href="{{ STATIC_URL }}css/fontello.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <!-- JAVASCRIPT -->
    <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
</head>
<body>
    <header class="header" data-magellan-destination="header" id="header">
        {% include "header.html" %}
    </header>

    <div class="nav">
        {% include "nav.html" %}
    </div>

    <div id="content">
        {% include "content.html" %}
    </div>

    <footer class="fotter">
        {% include "footer.html" %}
    </footer>

    <!-- Check for Zepto support, load jQuery if necessary -->
    <script>
        document.write('<script src={{ STATIC_URL }}/js/vendor/'
            + ('__proto__' in {} ? 'zepto' : 'jquery')
            + '.js><\/script>');
    </script>
    <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
    <script>
        $(document).foundation();
        $(document).foundation('interchange', {
            named_queries : {
                small_medium: 'only screen and (min-width: 778px) and (max-width: 976px)',
                medium_small: 'only screen and (min-width: 976px) and (max-width: 1280px)'
            }
        });
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15522286-1']);
        _gaq.push(['_setDomainName', 'arthur-rio.fr']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>

