{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% endblock css %}

{% block head_javascript %}
    <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/angular-sanitize.min.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
    <script src="{{ STATIC_URL }}js/i18n.js"></script>
{% endblock head_javascript %}


{% block content %}
    <section class="main">
        <header class="header" data-magellan-destination="header" id="header">
            {% include "header.html" %}
        </header>

        <a id="nav" href="#sidebar" data-magellan-expedition="fixed" class="show-for-small sidebar-button">{% include "nav.html" %}</a>

        <div id="content">
            {% include "content.html" %}
        </div>

        <footer class="footer">
            {% include "footer.html" %}
        </footer>
    </section>

    <aside id="sidebar" class="complementary">
        {% include "sidebar.html" %}
    </aside>
{% endblock content %}

{% block body_javascript %}
    <!-- Check for Zepto support, load jQuery if necessary -->
    <script>
        document.write('<script src={{ STATIC_URL }}/js/vendor/'
            + ('__proto__' in {} ? 'zepto' : 'jquery')
            + '.js><\/script>');
    </script>
    <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
    <script>
        $(document).foundation();
        $(document).ready(function () {
            // Hack for the section bug with deep_linking
            if ($('section.active').length === 0) {
                $('section.profile').addClass('active');
            } else {
                var current = $('section.active>.title a').attr('href').replace('#', '.');
                $('#sidebar li.profile').removeClass('active');
                $('#sidebar li' + current).addClass('active');
            }

            // nav
            $(document).on('click', '#nav', function (e) {
                e.preventDefault();
                $('html').toggleClass('active');
            });

            $(window).on('resize', function () {
                $('html').removeClass('active');
            });

            $(document).on('click', '#sidebar li>a', function (e) {
                $('#sidebar li').removeClass('active');
                $(this).parent().addClass('active')
                $('html').toggleClass('active');
                window.location.hash = '#header';
            });
        });
    </script>
{% endblock body_javascript %}

