<div class="row">
    <div class="small-12 large-12 columns">
        <div data-magellan-expedition="fixed">
            <div class="sub-nav">
                <ul class="small-block-grid-3 large-block-grid-6">
                    <li>
                        <div data-magellan-arrival="header" class="active"><a href="#header">Contact</a></div>
                    </li>
                    <li>
                        <div data-magellan-arrival="qualifications"><a href="#qualifications">Qualifications</a></div>
                    </li>
                    <li>
                        <div data-magellan-arrival="experience"><a href="#experience"><span class="hide-for-medium-down">Professional </span>Experience</a></div>
                    </li>
                    <li>
                        <div data-magellan-arrival="skills"><a href="#skills"><span class="hide-for-small">Technical </span>Skills</a></div>
                    </li>
                    <li>
                        <div data-magellan-arrival="education"><a href="#education">Education</a></div>
                    </li>
                    <li>
                        <div data-magellan-arrival="hobbies"><a href="#hobbies">Hobbies</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
