<div class="row">
    <div class="small-12 large-12 columns">
        <div data-magellan-expedition="fixed">
            <div class="sub-nav">
                <div class="row">
                    <div class="large-2 small-7 columns">
                        <div data-magellan-arrival="header" class="active"><a href="#header">Contact</a></div>
                    </div>
                    <div class="large-2 small-5 columns">
                        <div data-magellan-arrival="qualifications"><a href="#qualifications">Qualifications</a></div>
                    </div>
                    <div class="large-2 small-7 columns">
                        <div data-magellan-arrival="experience"><a href="#experience">Professional Experience</a></div>
                    </div>
                    <div class="large-2 small-5 columns">
                        <div data-magellan-arrival="skills"><a href="#skills">Technical Skills</a></div>
                    </div>
                    <div class="large-2 small-7 columns">
                        <div data-magellan-arrival="education"><a href="#education">Education</a></div>
                    </div>
                    <div class="large-2 small-5 columns">
                        <div data-magellan-arrival="hobbies"><a href="#hobbies">Hobbies</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
