<div class="row">
    <div class="large-12 columns">
        <h2>About Me</h2>
    </div>
</div>
<div class="row">
    <div class="small-12 large-4 columns">
        <div class="image-wrapper">
            <img src="/static/images/picture/bw/tall.png"/>
        </div>
    </div>
    <div class="small-12 large-8 columns id-card">
        <div class="row">
            <div class="small-6 large-4 columns">
                NAME
            </div>
            <div class="small-6 large-8 columns">
                Arthur Rio
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-4 columns">
                NATIONALITY
            </div>
            <div class="small-6 large-8 columns">
                French
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-4 columns">
                BORN
            </div>
            <div class="small-6 large-8 columns">
                Apr. 4<sup>th</sup>, 1988
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-4 columns">
                ADDRESS
            </div>
            <div class="small-6 large-8 columns">
                San Francisco, USA <a href="https://www.google.com/maps?q=3214+26th+Street+San+Francisco+CA+94110+USA&hl=en&geocode=+&hnear=3214+26th+St,+San+Francisco,+California+94110&t=m&z=16" target="_blank" class="nowrap icon icon-direction">view on a map</a>
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-4 columns">
                LANGUAGES
            </div>
            <div class="small-6 large-8 columns">
                French, English (fluent)
             </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h2>My Top 5</h2>
    </div>
</div>
<div class="row top5">
    <div class="large-12 columns">
        <ul class="small-block-grid-1 large-block-grid-2">
            <li><h3 class="icon icon-dribbble">Sports</h3>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Ice Hockey
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Rink Hockey
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Ski
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Golf
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star-empty"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Windsurfing
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star-empty"></span>
                    </div>
                </div>
            </li>
            <li><h3 class="icon icon-terminal">Technologies</h3>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Python/Django
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Java
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        HTML/CSS
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star-empty"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Javascript
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star-empty"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Flex
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star-empty"></span><span class="icon icon-star-empty"></span>
                    </div>
                </div>
            </li>
            <li><h3 class="icon icon-video">TV Shows</h3>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Friends
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        The wire
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        That's 70's show
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star-empty"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Dexter
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star-empty"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Modern Family
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star-empty"></span>
                    </div>
                </div>
            </li>
            <li><h3 class="icon icon-flight">Destinations</h3>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Volcano Park, Hawaii
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Great Wall, China
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Bryce Canyon, USA
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Yosemite, USA
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star-empty"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-6 columns">
                        Capitals of Europe
                    </div>
                    <div class="small-6 large-6 columns">
                        <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star-empty"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
