<div class="row">
    <div class="large-12 columns">
        <h2>About me</h2>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <a href="https://www.google.com/maps?q=3214+26th+Street+San+Francisco+CA+94110+USA&hl=en&geocode=+&hnear=3214+26th+St,+San+Francisco,+California+94110&t=m&z=16" target="_blank">
            <div class="row">
                <div class="small-12 large-12 columns">
                    3214 26<sup>th</sup> Street
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    San Francisco
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    CA 94110
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    USA
                </div>
            </div>
        </a>
    </div>
</div>
