{% extends 'index.html' %}

{% block css %}
{% endblock css %}

{% block site %}
<div class="header">
    <h1>Arthur Rio</h1>
    <h2>Software Engineer</h2>
    <h3>http://www.arthur-rio.fr</h3>
    <h3>+1 (650) 646-1280</h3>
    <h3>arthur.rio@me.com</h3>
</div>
<div>
    <h2>Education</h2>
</div>

<div>
    <h2>Experience</h2>
    <h3>Software engineer - PunchTab, Palo Alto, USA</h3>
    <h4>2011 - current</h4>
    <p>Design, implement, optimize and maintain our website, platform and widgets functionalities, in collaboration with the marketing and design teams.</p>
    <ul>
        <li>Designed and developed high-traffic/high-availability APIs and widgets (Python/Django, HTML/CSS/Javascript).</li>
        <li>Collaborated with the design team to improve the user interface and experience of our publishers admin tools and end-users products.</li>
        <li>Integrated with third party APIs (REST and SOAP).</li>
        <li>Integrated with third party Javascript SDKs (Twitter, Facebook, Google+, YouTube).</li>
        <li>Setup the continuous integration platform.</li>
        <li>Collaborated with the marketing team for the analysis of the data and the elaboration of customized reports and analytic tools.</li>
        <li>Database architecture and management (MySql and MongoDB).</li>
        <li>Client support (chat and tickets).</li>
    </ul>
    <p>Technologies: Python, Django, HTML5/CSS3, Javascript, JQuery, Git, MongoDB, MySQL, RabbitMQ, Redis, Jenkins.</p>

    <h3>Intern Software engineer - Capgemini, Nantes, FRANCE.</h3>
    <h4>January – August 2011 (8 months)</h4>
    <p>Redesign of the timetable information system for the SNCF Transilien (RER).</p>
    <ul>
        <li>Became familiar with the project and its architecture by reading through the existing specifications.</li>
        <li>Developed new features for the admin interface based on the specs and wrote the according unit tests.</li>
        <li>Assisted the QA team to create missing unit tests and update the code base (Java/Fitnesse).</li>
        <li>Built the unit test campaign for the second round of homologation.</li>
        <li>Participated in the design of the new requirements (UML 2.0, Merise).</li>
        <li>Implemented the remote monitors health status check functionality (SNMP, MIBs).</li>
    </ul>
    <p>Technologies: Java, Flex/ActionScript/MXML, Oracle, Hibernate, Spring.

    <h3>Intern Developer - CNIEG, Nantes, FRANCE.</h3>
    <h4>April – June 2008 (14 weeks)</h4>
    <p>Study of the GWT framework for the migration of an existing Lotus Notes internal application (Software development requests).</p>
    <ul>
        <li>Analyzed, documented and wrote the specification of the existing application.</li>
        <li>Surveyed the users across multiple services on missing functionalities and bugs.</li>
        <li>Designed the new application (UML 2.0) and database (MCD) models.</li>
        <li>Studied, documented and presented GWT and its application in the current environment in front of a committee.</li>
        <li>Developed a prototype of the new application.</li>
    </ul>
    <p>Technologies: Java, GWT, Spring, Hibernate, Oracle, Active Directory, LDAP.</p>
</div>

{% endblock site %}
