<ul class="side-nav">
    <li class="profile active"><a href="#profile"><span class="icon icon-user">Profile</span></a></li>
    <!--    <li class="qualifications"><a href="#qualifications"><span class="icon icon-desktop">Qualifications</span></a></li>-->
    <li class="experience"><a href="#experience"><span class="icon icon-briefcase">Work Experience</span></a></li>
    <li class="skills"><a href="#skills"><span class="icon icon-laptop">Technical Skills</span></a></li>
    <li class="education"><a href="#education"><span class="icon icon-book">Education</span></a></li>
    <!--    <li class="print"><a href="#"><span class="icon icon-print">Print Resume</span></a></li> -->
</ul>
