<ul class="small-block-grid-1 large-block-grid-2">
    <li>
        <div class="row">
            <div class="large-12 columns">
                <h2>Back-end</h2>
            </div>
        </div>
        <div class="panel">
            <div class="row">
                <div class="small-8 large-8 columns">
                    Python
                </div>
                <div class="small-2 large-2 columns">
                </div>
                <div class="small-2 large-2 columns">
                    80%
                </div>
            </div>
            <div class="row">
                <div class="small-7 large-7 columns">
                    Java
                </div>
                <div class="small-3 large-3 columns">
                </div>
                <div class="small-2 large-2 columns">
                    70%
                </div>
            </div>
            <div class="row">
                <div class="small-5 large-5 columns">
                    C#
                </div>
                <div class="small-5 large-5 columns">
                </div>
                <div class="small-2 large-2 columns">
                    50%
                </div>
            </div>
            <div class="row">
                <div class="small-4 large-4 columns">
                    PHP
                </div>
                <div class="small-6 large-6 columns">
                </div>
                <div class="small-2 large-2 columns">
                    40%
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="large-12 columns">
                <h2>Front-end</h2>
            </div>
        </div>
        <div class="panel">
            <div class="row">
                <div class="small-9 large-9 columns">
                    HTML 5
                </div>
                <div class="small-1 large-1 columns">
                </div>
                <div class="small-2 large-2 columns">
                    90%
                </div>
            </div>
            <div class="row">
                <div class="small-8 large-8 columns">
                    Javascript
                </div>
                <div class="small-2 large-2 columns">
                </div>
                <div class="small-2 large-2 columns">
                    80%
                </div>
            </div>
            <div class="row">
                <div class="small-8 large-8 columns">
                    CSS 3
                </div>
                <div class="small-2 large-2 columns">
                </div>
                <div class="small-2 large-2 columns">
                    80%
                </div>
            </div>
            <div class="row">
                <div class="small-5 large-5 columns">
                    Flex
                </div>
                <div class="small-5 large-5 columns">
                </div>
                <div class="small-2 large-2 columns">
                    50%
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="large-12 columns">
                <h2>Frameworks</h2>
            </div>
        </div>
        <div class="panel">
            <div class="row">
                <div class="small-8 large-8 columns">
                    Django
                </div>
                <div class="small-2 large-2 columns">
                </div>
                <div class="small-2 large-2 columns">
                    80%
                </div>
            </div>
            <div class="row">
                <div class="small-8 large-8 columns">
                    Foundation
                </div>
                <div class="small-2 large-2 columns">
                </div>
                <div class="small-2 large-2 columns">
                    80%
                </div>
            </div>
            <div class="row">
                <div class="small-7 large-7 columns">
                    Hibernate
                </div>
                <div class="small-3 large-3 columns">
                </div>
                <div class="small-2 large-2 columns">
                    70%
                </div>
            </div>
            <div class="row">
                <div class="small-6 large-6 columns">
                    Spring
                </div>
                <div class="small-4 large-4 columns">
                </div>
                <div class="small-2 large-2 columns">
                    60%
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="large-12 columns">
                <h2>Tools</h2>
            </div>
        </div>
        <div class="panel">
            <div class="row">
                <div class="small-9 large-9 columns">
                    Git (Github)
                </div>
                <div class="small-1 large-1 columns">
                </div>
                <div class="small-2 large-2 columns">
                    90%
                </div>
            </div>
            <div class="row">
                <div class="small-9 large-9 columns">
                    VI (MacVim)
                </div>
                <div class="small-1 large-1 columns">
                </div>
                <div class="small-2 large-2 columns">
                    90%
                </div>
            </div>
            <div class="row">
                <div class="small-8 large-8 columns">
                    Eclipse
                </div>
                <div class="small-2 large-2 columns">
                </div>
                <div class="small-2 large-2 columns">
                    80%
                </div>
            </div>
            <div class="row">
                <div class="small-8 large-8 columns">
                    Terminal
                </div>
                <div class="small-2 large-2 columns">
                </div>
                <div class="small-2 large-2 columns">
                    80%
                </div>
            </div>
        </div>
    </li>
</ul>

