/* HEADER */
.header {
    background-color: #2582BC;
}

@media only screen and (min-width: 1280px) {
    .header .address {
        padding-top: 0.625em;
    }
}

.header a {
    color: #222;
}

.header .contact a:focus, .header .contact a:hover{
    color: #2582BC;
    background: #222;
}

.header ul.small-block-grid-3.large-block-grid-3 {
    margin-top: 0.625em;
}

div.icon:before {
    font-size: 1.5em;
}

.header .contact li .inner {
    text-align: center;
    background: #1F72A6;
}

.header .contact li .inner > a {
    padding: 0.5em 0;
}

@media only screen {
    .large-block-grid-3>li {
        padding: 0 0.625em 0.625em;
    }
}

.header ul li .inner a {
    display: block;
}

.header ul li.mobile .inner a {
    display: none;
}

.header ul li.mobile .inner a.mobile-only {
    display: block;
}

@media only screen and (max-width: 1279px) {
    .header ul li .inner a div.icon:before {
        font-size: 2em;
    }
}

@media only screen {
    .header ul li.mobile .inner .mobile a {
        display: block;
    }
    .header ul li.mobile .inner .mobile a.mobile-only {
        display: none;
    }
}


/* END HEADER */

/* NAV */

[data-magellan-expedition] .sub-nav {
    max-width: 1048px;
    margin: -0.25em auto 1.125em;
}

[data-magellan-expedition] [data-magellan-arrival] {
    text-align: center;
}
[data-magellan-expedition] [data-magellan-arrival].active {
    background-color: #919EA0;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    font-weight: normal;
    padding: 0.1875em 0.5625em;

}
[data-magellan-expedition] [data-magellan-arrival] a {
    color: #999999;
    font-size: 0.8em;
}

[data-magellan-expedition] [data-magellan-arrival].active a {
    color: #fff;
}

.small-block-grid-3.large-block-grid-6 > li {
    padding: 0 0.625em 1.25em;
}
/* END NAV */

/* CONTENT */

#content .row .large-12 h3 {
    margin: auto;
    background: #FFF;
    color: #2582BC;
    width: 50%;
    padding: .3em;
    text-align: center;
}

.section-container.vertical-tabs {
    border: none;
    margin: 0;
}

.section-container.vertical-tabs>section>.title a {
    height: 7.5em;
    color: #222;
    white-space: initial;
    text-align: center;
    padding: 1.5em 0.3em;
}

.section-container.vertical-tabs>section>.title a span.icon:before {
    font-size: 1.5em;
}

.section-container.vertical-tabs>section.active>.content {
    background: #fefefe;
    border: none;
    min-height: 0 !important;
}

.section-container.vertical-tabs>section.active {
    padding-left: 7.9em;
}

.section-container.vertical-tabs>section>.title,
.section-container.vertical-tabs>section.active>.title{
    width: 7em;
}

.section-container.vertical-tabs>section>.title {
    border: none;
    margin-top: 0;
}

.section-container.vertical-tabs>section.active>.title a,
.section-container.vertical-tabs>section>.title:hover a {
    color: #222!important;
}

@media only screen and (max-width: 768px) {
    .section-container.vertical-tabs>section>.title a {
        text-align: center;
        height: auto;
    }

}

.section-container.vertical-tabs>section>.title.qualifications a {
    border-left: 0.5em solid #EF4748;
    color: #EF4748;
    padding-top: 2.3em;
}

.section-container.vertical-tabs>section.active>.title.qualifications,
.section-container.vertical-tabs>section>.title.qualifications:hover {
    background: #EF4748;
}

.section-container.vertical-tabs>section>.title.experience a {
    border-left: 0.5em solid #DCB80B;
    color: #DCB80B;
}

.section-container.vertical-tabs>section.active>.title.experience,
.section-container.vertical-tabs>section>.title.experience:hover {
    background: #DCB80B;
}

.section-container.vertical-tabs>section>.title.skills a {
    border-left: 0.5em solid #26A86A;
    color: #26A86A;
}

.section-container.vertical-tabs>section.active>.title.skills,
.section-container.vertical-tabs>section>.title.skills:hover {
    background: #26A86A;
}

.section-container.vertical-tabs>section>.title.education a {
    border-left: 0.5em solid #B972D5;
    color: #B972D5;
    padding-top: 2.3em;
}

.section-container.vertical-tabs>section.active>.title.education,
.section-container.vertical-tabs>section>.title.education:hover {
    background: #B972D5;
}

.section-container.vertical-tabs>section>.title.hobbies a {
    border-left: 0.5em solid #E4540D;
    color: #E4540D;
    padding-top: 2.3em;
}

.section-container.vertical-tabs>section.active>.title.hobbies,
.section-container.vertical-tabs>section>.title.hobbies:hover {
    background: #E4540D;
}
