/* GLOBAL */

a.nowrap {
    white-space: nowrap;
}

h1, h2, h3, h4, h5 {
    font-family: "lato";
    font-weight: 400;
}

p.indent {
    text-indent: 2em;
    text-align: justify;
}

p.indent a {
    text-indent: 0;
}
/* END GLOBAL */

/* HEADER */
.header {
    background-color: #2582BC;
}

@media only screen and (min-width: 1280px) {
    .header .address {
        padding-top: 0.625em;
    }
}

.header a {
    color: #222;
}

.header .title h1 {
    margin-bottom: 0.25em;
}

.header .title h2, .header .title h3 {
    color: #e2e2e2;
}

.header .contact a:focus, .header .contact a:hover{
    color: #2582BC;
    background: #222;
}

.header ul.small-block-grid-3.large-block-grid-3 {
    margin-top: 0.625em;
}

.header div.icon:before {
    font-size: 1.5em;
}

.header .contact li .inner {
    text-align: center;
    background: #1F72A6;
}

.header .contact li .inner > a {
    padding: 0.5em 0;
}

@media only screen {
    .large-block-grid-3>li {
        padding: 0 0.625em 0.625em;
    }
}

.header ul li .inner a {
    display: block;
}

.header ul li.mobile .inner a {
    display: none;
}

.header ul li.mobile .inner a.mobile-only {
    display: block;
}

@media only screen and (max-width: 1279px) {
    .header ul li .inner a div.icon:before {
        font-size: 2em;
    }
}

@media only screen {
    .header ul li.mobile .inner .mobile a {
        display: block;
    }
    .header ul li.mobile .inner .mobile a.mobile-only {
        display: none;
    }
}


/* END HEADER */

/* NAV */

[data-magellan-expedition] .sub-nav {
    max-width: 1048px;
    margin: -0.25em auto 1.125em;
}

[data-magellan-expedition] [data-magellan-arrival] {
    text-align: center;
}
[data-magellan-expedition] [data-magellan-arrival].active {
    background-color: #919EA0;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    font-weight: normal;
    padding: 0.1875em 0.5625em;

}
[data-magellan-expedition] [data-magellan-arrival] a {
    color: #999999;
    font-size: 0.8em;
}

[data-magellan-expedition] [data-magellan-arrival].active a {
    color: #fff;
}

.small-block-grid-3.large-block-grid-6 > li {
    padding: 0 0.625em 1.25em;
}
/* END NAV */

/* CONTENT */

.content h2:before {
    content: "+";
    font-size: 1.2em;
    margin-right: 0.2em;
}

    /* SIDEBAR */

    .section-container.vertical-tabs {
        border: none;
    }

    .section-container.vertical-tabs>section>.title a {
        color: #555;
        text-align: left;
        padding-left: 4em;
    }

    .section-container.vertical-tabs>section>.title a span.icon:before {
        font-size: 1.5em;
        position: absolute;
        margin-left: -2em;
    }

    .section-container.vertical-tabs>section.active>.content {
        background: #efefef;
        border: none;
        min-height: 0 !important;
        margin: 0.5em;
    }

    .section-container.vertical-tabs>section.active {
    }

    .section-container.vertical-tabs>section>.title,
    .section-container.vertical-tabs>section.active>.title{
    }

    .section-container.vertical-tabs>section>.title {
        border: none;
        margin-top: 0;
    }

    .section-container.vertical-tabs>section>.title:hover a {
        background: #d5d5d5;
    }

    .section-container.vertical-tabs>section.active>.title a {
        color: #fff!important;
        background: #4d4d4d;
    }

    @media only screen and (max-width: 768px) {
        .section-container.vertical-tabs>section>.title {
            border-bottom: 1px solid #ccc;
        }
    }

    .section-container.vertical-tabs>section>.title a {
        border-left: 0.4em solid #ccc;
    }

    .section-container.vertical-tabs>section.active.profile>.title a,
    .section-container.vertical-tabs>section.profile>.title a:hover,
    .section-container.vertical-tabs>section.profile>.title a:focus {
        border-left: 0.4em solid #B972D5;
    }

    .section-container.vertical-tabs>section.active.profile>.title span:before {
        color: #B972D5;
    }

    .section-container.vertical-tabs>section.active.qualifications>.title a,
    .section-container.vertical-tabs>section.qualifications>.title a:hover,
    .section-container.vertical-tabs>section.qualifications>.title a:focus {
        border-left: 0.4em solid #DCB80B;
    }

    .section-container.vertical-tabs>section.active.qualifications>.title span:before {
        color: #DCB80B;
    }

    .section-container.vertical-tabs>section.active.experience>.title a,
    .section-container.vertical-tabs>section.experience>.title a:hover,
    .section-container.vertical-tabs>section.experience>.title a:focus {
        border-left: 0.4em solid #2582BC;
    }

    .section-container.vertical-tabs>section.active.experience>.title span:before {
        color: #2582BC;
    }

    .section-container.vertical-tabs>section.active.skills>.title a,
    .section-container.vertical-tabs>section.skills>.title a:hover,
    .section-container.vertical-tabs>section.skills>.title a:focus {
        border-left: 0.4em solid #26A86A;
    }

    .section-container.vertical-tabs>section.active.skills>.title span:before {
        color: #26A86A;
    }

    .section-container.vertical-tabs>section.active.education>.title a,
    .section-container.vertical-tabs>section.education>.title a:hover,
    .section-container.vertical-tabs>section.education>.title a:focus {
        border-left: 0.4em solid #E4540D;
    }

    .section-container.vertical-tabs>section.active.education>.title span:before {
        color: #E4540D;
    }
    /* SIDEBAR */

    /* PROFILE */

    .profile .content h2:before {
        color: #B972D5;
    }

    .profile .image-wrapper {
        border-radius: 1000px;
        background-color: #B972D5;
        width: 170px;
        height: 170px;
        overflow: hidden;
        margin: auto;
    }

    .profile .image-wrapper img {
        margin: 20px;
    }

    .profile .content>.row>.columns {
        margin-bottom: 1em;
    }
    .profile .id-card>.row>.columns {
        padding: 0;
    }

    .profile .id-card>.row:first-child {
        margin-top: 1.7em;
    }

    .profile .id-card>.row {
        border-bottom: 1px solid #B972D5;
        margin: 0 auto 1em;
    }

    .profile .id-card .columns:first-child {
        font-weight: bold;
    }

    .profile h3.icon-terminal:before {
        font-size: 0.8em;
        margin-right: 1em;
    }

    .profile h3.icon-dribbble:before {
        font-weight: bold;
        margin-right: 0.4em;
    }

    .profile h3.icon-video:before {
        font-size: 0.8em;
        margin-right: 0.6em;
    }

    .profile .top5 ul .row .icon {
        color: #945BAA;
    }

    /* END PROFILE */

    /* EDUCATION */
    .education .content h2:before {
        color: #E4540D;
    }

    .education .timeline>.row>.columns:first-child {
        border-left: 0.5em solid #E4540D;
        position: relative;
    }

    .timeline-pin {
        position: absolute;
        top: 40%;
        left: -6.5em;
        height: 1.5em;
        line-height: 1.5em;
        width: 7em;
    }

    @media only screen and (max-width: 778px) {
        .education .timeline>.row>.columns:first-child {
            border-left: none;
        }
    }
    @media only screen and (min-width: 976px) {
        .timeline-pin {
            width: 8em;
            left: -7.5em;
        }
    }

    .timeline-pin .circle {
        height: 1.5em;
        width: 1.5em;
        border-radius: 1000px;
        background-color: #efefef;
        border: 0.5em solid #E4540D;
    }

    .education ul {
        list-style: none;
        margin: 1em;
    }

    .education h4 {
        color: #E4540D;
    }

    .education i {
        font-size: 0.8em;
    }

    /* END EDUCATION */

/* END CONTENT */
