/* GLOBAL */

a img {
    border: none;
}

body.off-canvas {
    padding: 0;
    margin: 0;
}

@media (max-width: 767px) {
    body.off-canvas {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
}

.antialiased {
    -webkit-font-smoothing: antialiased;
}

.main {
    width: 100%;
}

.main:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    width: 100%;
    background: #fff;
}

.main {
    margin-left: 0;
    float: right;
    z-index: 1;
    position: relative;
    background: #fff;
}


.active .main {
    margin-right: -85%;
}

@media only screen and (min-width: 768px) {
    .active .main {
        margin-right: 0;
    }
}

.html, .css, .scss, .js {
    position: relative;
}
@media (max-width: 767px) {
    html {
        overflow-x: hidden;
    }
}

a.nowrap {
    white-space: nowrap;
}

h1, h2, h3, h4, h5 {
    font-family: "lato";
    font-weight: 400;
}

.panel h5 {
    line-height: 1.5em;
    border-bottom: 1px solid #d9d9d9;
}

p.indent {
    text-indent: 2em;
    text-align: justify;
}

p.indent a, p.indent span {
    text-indent: 0;
}

.columns.small-1, .columns.large-1 {
    padding: 0;
}

@media only screen and (max-width: 976px) {
    .columns.small-2, .columns.large-2 {
        padding: 0;
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    .timeline>.row>.columns:first-child {
        border-left: none !important;
    }
}
@media only screen and (min-width: 976px) {
    .timeline-pin {
        width: 8em;
        left: -7.5em;
    }
}

.timeline>.row>.columns:first-child {
    border-left: 0.5em solid #d5d5d5;
    position: relative;
}

.timeline-pin .circle {
    border: 0.5em solid #d5d5d5;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1000px;
    background-color: #efefef;
}

.timeline-pin {
    position: absolute;
    top: 40%;
    left: -6.5em;
    height: 1.5em;
    line-height: 1.5em;
    width: 7em;
}

ul {
    list-style: none;
    margin: 1em;
}

.panel ul {
    text-indent: 5px;
}

.panel ul li:before{
    content:"-";
    position:relative;
    left:-6px;
}
/* END GLOBAL */

/* HEADER */
.header {
    background-color: #2582BC;
}

@media only screen and (min-width: 1280px) {
    .header .address {
        padding-top: 0.625em;
    }
}

.header a {
    color: #222;
}

.header .title h1 {
    margin-bottom: 0.25em;
}

.header .title h2, .header .title h3 {
    color: #e2e2e2;
}

.header .contact a:focus, .header .contact a:hover{
    color: #2582BC;
    background: #222;
}

.header ul.small-block-grid-3.large-block-grid-3 {
    margin-top: 0.625em;
}

.header div.icon:before {
    font-size: 1.5em;
}

.header .contact li .inner {
    text-align: center;
    background: #1F72A6;
}

.header .contact li .inner > a {
    padding: 0.5em 0;
}

@media only screen {
    .large-block-grid-3>li {
        padding: 0 0.625em 0.625em;
    }
}

.header ul li .inner a {
    display: block;
}

.header ul li.mobile .inner a {
    display: none;
}

.header ul li.mobile .inner a.mobile-only {
    display: block;
}

@media only screen and (max-width: 1279px) {
    .header ul li .inner a div.icon:before {
        font-size: 2em;
    }
}

@media only screen {
    .header ul li.mobile .inner .mobile a {
        display: block;
    }
    .header ul li.mobile .inner .mobile a.mobile-only {
        display: none;
    }
}


/* END HEADER */

/* NAV */

#nav h4.icon-menu:before {
    margin-right: 1em;
}

#nav {
    background-color: #222;
}

#nav h4 {
    color: #efefef;
}

#nav:hover {
    background: #333;
}

/* END NAV */

/* ASIDE */
    #sidebar {
        position: fixed;
        background: #fff;
        height: 100%;
        padding: 0px;
        -webkit-box-shadow: inset -2px 0px 8px -1px #111111;
        box-shadow: inset -2px 0px 8px -1px #111111;
        padding-top: 10px;
        width: 85%;
        font-size: 1.5em;
    }

    #sidebar ul {
        margin: 3em 3%;
    }
    #sidebar ul li {
        background: #efefef;
    }

    #sidebar ul li,
    #sidebar ul li>a span.icon:before {
        padding: 0;
        margin: 0;
        height: 2em;
        line-height: 2em;
    }

    #sidebar ul li>a {
        color: #555;
        text-align: left;
        padding-left: 2.5em;
        padding-right: 1.5em;
    }

    #sidebar ul li>a span.icon:before {
        font-size: 1em;
        position: absolute;
        margin-left: -2em;
    }

    #sidebar ul li:hover a {
        background: #d5d5d5;
    }

    #sidebar ul li.active>a {
        color: #fff!important;
        background: #4d4d4d;
        font-weight: normal;
    }

    #sidebar ul li>a {
        border-left: 0.3em solid #ccc;
    }

    #sidebar ul li.active.profile>a,
    #sidebar ul li.profile>a:hover,
    #sidebar ul li.profile>a:focus {
        border-left-color: #B972D5;
    }

    #sidebar ul li.active.profile span:before {
        color: #B972D5;
    }

    #sidebar ul li.active.qualifications>a,
    #sidebar ul li.qualifications>a:hover,
    #sidebar ul li.qualifications>a:focus {
        border-left-color: #DCB80B;
    }

    #sidebar ul li.active.qualifications span:before {
        color: #DCB80B;
    }

    #sidebar ul li.active.experience>a,
    #sidebar ul li.experience>a:hover,
    #sidebar ul li.experience>a:focus {
        border-left-color: #2582BC;
    }

    #sidebar ul li.active.experience span:before {
        color: #2582BC;
    }

    #sidebar ul li.active.skills>a,
    #sidebar ul li.skills>a:hover,
    #sidebar ul li.skills>a:focus {
        border-left-color: #26A86A;
    }

    #sidebar ul li.active.skills span:before {
        color: #26A86A;
    }

    #sidebar ul li.active.education>a,
    #sidebar ul li.education>a:hover,
    #sidebar ul li.education>a:focus {
        border-left-color: #E4540D;
    }

    #sidebar ul li.active.education span:before {
        color: #E4540D;
    }

/* END ASIDE */


/* CONTENT */

.content h2:before {
    content: "+";
    font-size: 1.2em;
    margin-right: 0.2em;
}

    /* SECTIONS */

    .section-container.vertical-tabs {
        border: none;
    }

    .section-container.vertical-tabs>section>.title a {
        color: #555;
        text-align: left;
        padding-left: 4em;
    }

    .section-container.vertical-tabs>section>.title a span.icon:before {
        font-size: 1.5em;
        position: absolute;
        margin-left: -2em;
    }

    .section-container.vertical-tabs>section.active>.content {
        background: #efefef;
        border: none;
        min-height: 0 !important;
        margin: 0.5em;
    }

    .section-container.vertical-tabs>section>.title {
        border: none;
        margin-top: 0;
    }

    .section-container.vertical-tabs>section>.title:hover a {
        background: #d5d5d5;
    }

    .section-container.vertical-tabs>section.active>.title a {
        color: #fff!important;
        background: #4d4d4d;
    }

    @media only screen and (max-width: 768px) {
        .section-container.vertical-tabs>section>.title {
            border-bottom: 1px solid #ccc;
        }
    }

    .section-container.vertical-tabs>section>.title a {
        border-left: 0.4em solid #ccc;
    }

    .section-container.vertical-tabs>section.active.profile>.title a,
    .section-container.vertical-tabs>section.profile>.title a:hover,
    .section-container.vertical-tabs>section.profile>.title a:focus {
        border-left-color: #B972D5;
    }

    .section-container.vertical-tabs>section.active.profile>.title span:before {
        color: #B972D5;
    }

    .section-container.vertical-tabs>section.active.qualifications>.title a,
    .section-container.vertical-tabs>section.qualifications>.title a:hover,
    .section-container.vertical-tabs>section.qualifications>.title a:focus {
        border-left-color: #DCB80B;
    }

    .section-container.vertical-tabs>section.active.qualifications>.title span:before {
        color: #DCB80B;
    }

    .section-container.vertical-tabs>section.active.experience>.title a,
    .section-container.vertical-tabs>section.experience>.title a:hover,
    .section-container.vertical-tabs>section.experience>.title a:focus {
       border-left-color: #2582BC;
    }

    .section-container.vertical-tabs>section.active.experience>.title span:before {
        color: #2582BC;
    }

    .section-container.vertical-tabs>section.active.skills>.title a,
    .section-container.vertical-tabs>section.skills>.title a:hover,
    .section-container.vertical-tabs>section.skills>.title a:focus {
        border-left-color: #26A86A;
    }

    .section-container.vertical-tabs>section.active.skills>.title span:before {
        color: #26A86A;
    }

    .section-container.vertical-tabs>section.active.education>.title a,
    .section-container.vertical-tabs>section.education>.title a:hover,
    .section-container.vertical-tabs>section.education>.title a:focus {
        border-left-color: #E4540D;
    }

    .section-container.vertical-tabs>section.active.education>.title span:before {
        color: #E4540D;
    }
    /* SECTIONS */

    /* PROFILE */

    .profile .content h2:before {
        color: #B972D5;
    }

    .profile .image-wrapper {
        border-radius: 1000px;
        background-color: #B972D5;
        width: 170px;
        height: 170px;
        overflow: hidden;
        margin: auto;
    }

    .profile .image-wrapper img {
        margin: 20px;
    }

    .profile .content>.row>.columns {
        margin-bottom: 1em;
    }
    .profile .id-card>.row>.columns {
        padding: 0;
    }

    .profile .id-card>.row:first-child {
        margin-top: 0.5em;
    }

    .profile .id-card>.row {
        border-bottom: 1px solid #B972D5;
        margin: 0 auto 1em;
    }

    .profile .id-card .columns:first-child {
        font-weight: bold;
    }

    .profile h3.icon-terminal:before {
        font-size: 0.8em;
        margin-right: 1em;
    }

    .profile h3.icon-dribbble:before {
        font-weight: bold;
        margin-right: 0.4em;
    }

    .profile h3.icon-video:before {
        font-size: 0.8em;
        margin-right: 0.6em;
    }

    .profile .top5 ul .row .icon {
        color: #945BAA;
    }

    /* END PROFILE */

    /* EXPERIENCE */
    .experience .content h2:before {
        color: #2582BC;
    }

    .experience h4 {
        color: #2582BC;
    }

    .experience .title h4 {
        line-height: 1.65em;
    }

    .experience .panel img {
        max-height: 4em;
    }

    /* END EXPERIENCE */

    /* SKILLS */
    .skills .content h2:before {
        color: #26A86A;
    }

    .skills .panel>.row {
        margin-top: 0.5em;
        background-color: #d5d5d5;
    }

    .skills .panel>.row:first-child {
        margin-top: 0;
    }

    .skills .panel>.row>.columns {
        height: 2em;
        line-height: 2em;
    }

    .skills .panel>.row>.columns:first-child {
        background-color: #26A86A;
    }

    .skills .panel>.row>.columns:last-child {
        background-color: #f2f2f2;
    }

    /* END SKILLS */

    /* EDUCATION */
    .education .content h2:before {
        color: #E4540D;
    }

    .education h4 {
        color: #E4540D;
    }

    .education i {
        font-size: 0.8em;
    }

    .education .timeline>.row>.columns:first-child {
        border-left: 0.5em solid #E4540D;
    }

    .education .timeline-pin .circle {
        border: 0.5em solid #E4540D;
    }

    /* END EDUCATION */


/* END CONTENT */
